*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    font-weight: inherit;
    font-size: inherit;
}
html,
body{
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: rgba(33, 56, 66, 0.6);
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
img{
    vertical-align: top;
}
ul, li, ul{
    list-style: none;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
}
.__container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
._ibg{
    position: relative;
}
._ibg img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*-----------HEADER--------------*/

.header{
    position: absolute;
    padding: 15px 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}
.header__wrap{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header__list{
    display: flex;
}
.header__list li:not(:last-child){
    margin-right: 40px;
}
.header__link{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: inline-block;
}
.header__link:hover{
    color: #FFD723;
}



/*------menu-----*/

#check-menu{
    display: none;
}
label{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;

    background: url('icon/burger/open.png') no-repeat center;
    background-size: cover;

}
/*--------------menu-------------*/


@media (max-width: 991.98px){
    label{
        display: block;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
    }
    .header__menu{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    
    .burger__icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }
    .header__burger{
        position: absolute;
        top: 0;
        right: 100%;
        height: 100%;
        width: 100%;
    }
    .header__burger ul{
        display: flex;
        justify-content: flex-end;
    }
    .header__link{
        font-size: 20px;
    }
    #check-menu:checked ~ .header__burger{
            position: absolute;
            top: 50px;
            left: 0;
            height: 100%;
            z-index: 20;
    }
    #check-menu:checked ~ label{
        background: url(icon/burger/close.png) no-repeat center;
        background-size: cover;
    }
}
@media (max-width: 900px){
    .header__wrap{
        flex-direction: column;
        gap: 20px;
    }
    .header__list{
        justify-content: space-between;
    }
}

/*-------PAGE-----*/
.suptitle{
    font-size: 14px;
    line-height: 21px;
    color: rgba(77, 83, 60, 0.9);
}
.subtitle{
    font-size: 16px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
}
.link__more{
    font-size: 16px;
    line-height: 18px;
    text-decoration-line: underline;

    color: #D4D6D4;
}
.link__more:hover{
    color: #FFD723;
}


/*---------MAIN------------*/
.main{
    position: relative;
}
.main__wrap{
    display: flex;
    flex-direction: column;
    padding-top: 188px;
    padding-bottom: 188px;
    position: relative;
    z-index: 2;
}
.main_suptitle{
    color: #FFFFFF;
    margin-bottom: 22px;
}
.main__title{
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
    color: #FFFFFF;
    max-width: 616px;
    margin-bottom: 24px;
}
.main__subtitle{
    color: #FFFFFF;
    margin-bottom: 45px;
    max-width: 580px;
}
.main__image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 599px){
    .main__wrap {
        padding-top: 124px;
        padding-bottom: 100px;
    }
}

/*-----COMPANY--------*/
.company{
    position: relative;
    margin-top: -90px;
    width: 100%;
}
.company__wrap{
    display: flex;
    padding: 60px 65px;
    background: #FFFFFF;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    border-radius: 2px;
}
.company__item{
    display: block;
}
.company__item:not(:last-child){
    margin-right: 66px;
}
.company__item img{
    width: 100%;
    height: auto;
}
@media (max-width: 900px){
    .company__wrap{
        padding: 40px 30px;
    }
    .company__wrap{
        box-shadow: 40px 32px 86px rgba(0, 0, 0, 0.145947);
    }
}
@media (max-width: 767.98px){
    .company__wrap{
        padding: 30px 15px;
    }
    .company__item:not(:last-child){
        margin-right: 20px;
    }
}
@media (max-width: 532.98px){
    .company{
        margin-top: -60px;
    }
    .main__title {
        font-size: 60px;
        line-height: 70px;
    }
}



.title_s{
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #4D533C;
}
.text_s{
    font-size: 16px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
}



/*--------STRATEGY-----*/
.strategy{
    margin-bottom: 150px;
}
.strategy__wrap{
    display: flex;
    border-bottom: 1px solid rgba(33, 56, 66, 0.0955529);
}
.describe__suptitle{
    margin-bottom: 29px;
}
.describe__title{
    margin-bottom: 35px;
    width: 400px;
}
.describe__text{
    margin-bottom: 42px;
}
.describe__title span{
    background: rgba(255, 215, 35, 0.1);
}
.strategy__describe{
    flex: 0 1 50%;
    padding: 120px 0 183px 0;
    margin-right: 160px;
}
.strategy__caption{
    flex: 0 1 50%;
}



.caption_b_item{
    padding: 120px 40px 60px 40px;
    box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
}
.caption_b-text{
    font-style: italic;
    font-size: 24px;
    line-height: 40px;
    color: #4D533C;
    margin-bottom: 50px;
    padding-right: 15px;
}
.caption_b_autor{
    display: flex;
}
.autor_icon__name{
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #4D533C;
    margin-bottom: 6px;
}
.autor_icon__post{
    font-size: 16px;
    line-height: 24px;
    color: #152934;
}

.caption_b_autor_icon{
    margin-right: 30px;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
}
.caption_b_autor_icon img{
    width: 100%;
    height: auto;
}
.caption_b_autor__desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media only screen and (max-width : 1280px) {
    .strategy__describe {
        margin-right: 130px;
    }
}
@media only screen and (max-width : 1036px) {
    .strategy__describe {
        margin-right: 65px;
    }
    .caption_b_item{
        padding: 120px 30px 60px;
    }
}
@media only screen and (max-width : 935px) {
    .strategy__describe {
        margin-right: 45px;
    }
    .caption_b_item{
        box-shadow: 0px 10px 43px rgba(0, 0, 0, 0.18);
    }
    .strategy__caption {
        flex: 0 1 61%;
    }
}
@media only screen and (max-width : 893px){
    .strategy__wrap{
        flex-direction: column;
        padding-bottom: 75px;
    }
    .strategy__describe {
        flex: 0 1 100%;
        padding: 90px 0;
    }
    .describe__title {
        width: 80%;
    }
    .strategy__caption {
        flex: 0 1 100%;
    }
    .caption_b_item {
        padding: 30px 60px;
    }
    .strategy{
        margin-bottom: 75px;
    }
}
@media only screen and (max-width : 575px){
    .describe__title {
        width: 100%;
    }
}

@media only screen and (max-width : 510px){
    .caption_b_item {
        padding: 30px;
    }
}
@media only screen and (max-width : 450px){
    .caption_b_autor {
    flex-direction: column;
    }
    .caption_b-text {
        margin-bottom: 35px;
        padding-right: 0;
        font-size: 20px;
    }
    .strategy__describe {
        padding: 65px 0;
    }
}



/*-----------begin----------*/
.begin__wrap{
    display: flex;
    margin-bottom: 110px;
    align-items: center;
}
.begin__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #4D533C;
    text-transform: capitalize;
    margin-right: 130px;
    max-width: 335px;
}
.begin__text{
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
    max-width: 518px;
}


@media only screen and (max-width : 1200px){
    .begin__text {
        max-width: 100%;
        flex: 0 1 50%;
    }
    .begin__title{
        flex: 0 1 50%;
    }
}
@media only screen and (max-width : 1200px){
    .begin__title{
        margin-right: 80px;
    }
}
@media only screen and (max-width : 893px){
    .begin__wrap{
        flex-direction: column;
        align-items: baseline;
    }
    .begin__text {
        max-width: 100%;
        flex: 0 1 100%;
    }
    .begin__title{
        margin-bottom: 35px;
        flex: 0 1 100%;
    }
}
@media only screen and (max-width : 450px){
    .begin__title{
        margin-right: 0;
        width: 100%;
    }
}



/*-----BALENCIAGA--------*/
.balenciaga{
    max-width: 1440px;
    
   
    margin: 0 auto;
}
.balenciaga__wrap{
    max-width: 1306px;
    text-align: center;
    display: flex;
    gap: 96px;
    margin-bottom: 165px;
}

.balenciaga__img{
    position: relative;
    flex: 0 1 79%;
}
.balenciaga__img img{
    width: 100%;
    height: auto;
}
.caption{
    position: absolute;
    max-width: 453px;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    border-radius: 8px;
    text-align: start;
}
.caption__text{
    font-style: italic;
    line-height: 26px;
    color: #4D533C;
    margin-bottom: 24px;
}
.caption__autor{
    display: flex;
    align-items: center;
}
.caption__autor_icon{
    border-radius: 100%;
    max-width: 46px;
    max-height: 46px;
    
    box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
    margin-right: 14px;
}
.caption__autor_icon img{
    width: 100%;
    height: auto;
}
.autor__name{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #4D533C;
    margin-bottom: 4px;
}
.autor__post{
    font-size: 14px;
    line-height: 21px;
    color: #152934;
}

.balenciaga_caption{
    bottom: -35px;
    right: -40px;
}

.balenciaga__describe{
    text-align: start;
    padding: 90px 45px 70px 0;
    flex: 0 1 50%;
}
.describe__title{
    margin-bottom: 24px;
}
.describe__text{
    margin-bottom: 30px;
}
.describe__link{
    display: inline-block;
    margin-top: 90px;
}


@media only screen and (max-width : 1200px){
    .balenciaga__describe {
        padding: 40px 45px 70px 0;
    }
    .describe__link {
        margin-top: 60px;
    }
}
@media only screen and (max-width : 980px){
    .balenciaga_caption{
        position: unset;
    }
}
@media only screen and (max-width : 893px){
    .balenciaga__wrap {
        gap: 66px;
    }
}
@media only screen and (max-width : 700px){
    .balenciaga__wrap {
        flex-direction: column-reverse;
        gap: 40px;
    }
    .balenciaga_caption {
        max-width: 100%;
        box-shadow: 32px 30px 156px rgb(0 0 0 / 15%);
    }
    .balenciaga__describe {
        padding: 40px 45px 15px 15px;
    }
}